 .menu-transition {
   transition: max-height 400ms ease-in-out, opacity 400ms ease-in-out; 
} 
 .menu-hidden { 
    max-height: 0; 
    opacity: 0;
 } 
 .menu-visible { 
    max-height: 50px; /* Ajuste conforme necessário */ 
    opacity: 1; }